# Proyecto Indivudual Machine Learning Operations (MLOps)

## Transformaciones

### Importar librerias

In [1]:
import pandas as pd
import datetime

### Cargar los archivos csv

In [2]:
amazon_data = pd.read_csv(filepath_or_buffer="Datos_Plataformas/amazon_prime_titles.csv")   #datos de amazon
disney_data = pd.read_csv(filepath_or_buffer="Datos_Plataformas/disney_plus_titles.csv")    #datos de disney
hulu_data = pd.read_csv(filepath_or_buffer="Datos_Plataformas/hulu_titles.csv")             #datos de hulu
netflix_data = pd.read_csv(filepath_or_buffer="Datos_Plataformas/netflix_titles.csv")       #datos de netflix

### Visualizacion de la data

#### Data de Amazon

In [3]:
amazon_data.sample(3, random_state=10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1243,s1244,TV Show,Public Enemies,NaN,"Daniel Mays, Anna Friel, Lorraine Ashbourne",NaN,NaN,2012,16+,1 Season,Drama,"A probation officer (Anna Friel, Marcella) mus..."
7004,s7005,Movie,Rollerball (1975),Norman Jewison,"James Caan, John Houseman, Ralph Richardson, M...",NaN,NaN,1975,R,125 min,"Action, Adventure",James Caan stars as a rollerball champ in this...
8264,s8265,Movie,Shuttle,Edward Anderson,"Peyton List, Tony Curran, Cameron Goodman, Dav...",NaN,NaN,2009,R,107 min,"Drama, Horror, Suspense",When two friends return from a girls’ weekend ...

In [4]:
# Obtener info de l DataFrame
amazon_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [5]:
# Para entender un poco mejor la info decidi hacer esta funcion para conocer los campos a los que les faltan valores

def valores_NaN(nombre_dataframe):   # Creamos una funcion para conocer las columnas y cuantos valores NaN tienen
    """
    Esta funcion da la informacion solo de las columnas
    que contienen valores faltantes
    
    Parametros
    --------------
    nombre_dataframe: class 'pandas.core.frame.DataFrame'
            Este parametro debe de ser un objeto DataFrame
            de la libreria Pandas
            
    Devoluciones
    -------------
    str: 
        Devuelve un string con la siguiente informacion
        - Nombre del campo
        - La cantidad de valores nulos
        - Tipo de dato del campo
    """
    lista_columnas = list(nombre_dataframe.columns)
    for columna in lista_columnas:                 # - Iteramos por esa lista para checar cada columna y saber si esta contiene datos nulos o no
        valor = nombre_dataframe[columna].hasnans     # hasnans nos devuelve True si en una columna hay algun valor NaN
        if valor:                                    # En el caso de que exista un valor NaN imprimira el nombre de la columna que tiene el valor NaN
            nulos = nombre_dataframe[columna].isnull().sum()
            i = nombre_dataframe[columna].dtype # isnull revisara cada registro y mostrara con True en donde el valor sea NaN, sum se encargara de contar esos True
            print(f"La columna con el nombre: '{columna}' tiene: '{nulos}' valores NaN en sus registros y sus datos son del tipo: '{i}'")  # Para una manera mas facil de entender lo imprimimos de esta manera




valores_NaN(amazon_data)

# Las columnas que no tienen valores son importantes?:

La columna con el nombre: 'director' tiene: '2082' valores NaN en sus registros y sus datos son del tipo: 'object'
La columna con el nombre: 'cast' tiene: '1233' valores NaN en sus registros y sus datos son del tipo: 'object'
La columna con el nombre: 'country' tiene: '8996' valores NaN en sus registros y sus datos son del tipo: 'object'
La columna con el nombre: 'date_added' tiene: '9513' valores NaN en sus registros y sus datos son del tipo: 'object'
La columna con el nombre: 'rating' tiene: '337' valores NaN en sus registros y sus datos son del tipo: 'object'

#### Data de Disney

In [6]:
disney_data.sample(3, random_state=10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
573,s574,Movie,Donald's Dog Laundry,Jack King,NaN,United States,"April 3, 2020",1940,TV-G,9 min,"Animation, Family",Donald entices Pluto to try his mechanical dog...
334,s335,Movie,Into the Woods,Rob Marshall,"Meryl Streep, Emily Blunt, James Corden, Anna ...",United States,"December 18, 2020",2014,PG,126 min,"Action-Adventure, Fantasy, Musical",A baker and his wife's desperation to have a c...
712,s713,Movie,"20,000 Leagues Under the Sea",Richard Fleischer,"Kirk Douglas, James Mason, Paul Lukas, Peter L...",United States,"November 12, 2019",1954,G,127 min,"Action-Adventure, Family, Science Fiction",Climb aboard the Nautilus and into an undersea...

In [7]:
# Obtener info de l DataFrame
disney_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [8]:
valores_NaN(disney_data)

La columna con el nombre: 'director' tiene: '473' valores NaN en sus registros y sus datos son del tipo: 'object'
La columna con el nombre: 'cast' tiene: '190' valores NaN en sus registros y sus datos son del tipo: 'object'
La columna con el nombre: 'country' tiene: '219' valores NaN en sus registros y sus datos son del tipo: 'object'
La columna con el nombre: 'date_added' tiene: '3' valores NaN en sus registros y sus datos son del tipo: 'object'
La columna con el nombre: 'rating' tiene: '3' valores NaN en sus registros y sus datos son del tipo: 'object'

#### Data de Hulu

In [9]:
hulu_data.sample(3, random_state=20)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1174,s1175,Movie,12 Pups of Christmas,NaN,NaN,United States,"November 15, 2020",2019,89 min,NaN,Romance,Struggling to keep his dog GPS locator company...
2176,s2177,TV Show,El Jardin De Bronce,NaN,NaN,NaN,"June 23, 2019",2017,TV-MA,2 Seasons,"Drama, International, Latino",When a couple's young child disappears without...
1543,s1544,Movie,The Whistlers,NaN,NaN,"Romania, France, Germany, Sweden","July 2, 2020",2019,98 min,NaN,"Comedy, Drama, Horror","A Romanian police officer, determined to free ..."

In [10]:
# Obtener info de l DataFrame
hulu_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [11]:
valores_NaN(hulu_data)

La columna con el nombre: 'director' tiene: '3070' valores NaN en sus registros y sus datos son del tipo: 'object'
La columna con el nombre: 'cast' tiene: '3073' valores NaN en sus registros y sus datos son del tipo: 'float64'
La columna con el nombre: 'country' tiene: '1453' valores NaN en sus registros y sus datos son del tipo: 'object'
La columna con el nombre: 'date_added' tiene: '28' valores NaN en sus registros y sus datos son del tipo: 'object'
La columna con el nombre: 'rating' tiene: '520' valores NaN en sus registros y sus datos son del tipo: 'object'
La columna con el nombre: 'duration' tiene: '479' valores NaN en sus registros y sus datos son del tipo: 'object'
La columna con el nombre: 'description' tiene: '4' valores NaN en sus registros y sus datos son del tipo: 'object'

#### Data de Netflix

In [12]:
netflix_data.sample(3, random_state=10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
659,s660,TV Show,Bangkok Love Stories: Innocence,NaN,"Nida Patcharaveerapong, Nicole Theriault, Natt...",Thailand,"June 19, 2021",2018,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",From a teenage parkour enthusiast to a bawdy r...
6112,s6113,Movie,Alien Contact: Outer Space,J. Michael Long,J. Michael Long,United States,"January 9, 2018",2017,TV-PG,63 min,Documentaries,This fact-based account delves into humankind'...
5950,s5951,Movie,Triumph of the Heart,Richard Michaels,"Mario Van Peebles, Susan Ruttan, Lane R. Davis...",United States,"October 1, 2011",1991,TV-PG,93 min,"Dramas, Sports Movies","This drama tells the tale of Ricky Bell, a pro..."

In [13]:
# Obtener info de l DataFrame
netflix_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [14]:
valores_NaN(netflix_data)

La columna con el nombre: 'director' tiene: '2634' valores NaN en sus registros y sus datos son del tipo: 'object'
La columna con el nombre: 'cast' tiene: '825' valores NaN en sus registros y sus datos son del tipo: 'object'
La columna con el nombre: 'country' tiene: '831' valores NaN en sus registros y sus datos son del tipo: 'object'
La columna con el nombre: 'date_added' tiene: '10' valores NaN en sus registros y sus datos son del tipo: 'object'
La columna con el nombre: 'rating' tiene: '4' valores NaN en sus registros y sus datos son del tipo: 'object'
La columna con el nombre: 'duration' tiene: '3' valores NaN en sus registros y sus datos son del tipo: 'object'

### Generaramos un campo id con la primera inicial de la plataforma y el show_id del DataFrame

In [15]:
amazon_data["id"] = "a" + amazon_data["show_id"]  # Para el Dataframe de amazon
disney_data["id"] = "d" + disney_data["show_id"]  # Para el Dataframe de disney
hulu_data["id"] = "h" + hulu_data["show_id"]    # Para el Dataframe de hulu
netflix_data["id"] = "n" + netflix_data["show_id"] # Para el Dataframe de netflix

In [16]:
amazon_data["plataforma"] = "a"
netflix_data["plataforma"] = "n"
hulu_data["plataforma"] = "h"
disney_data["plataforma"] = "d"

In [17]:
amazon_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,plataforma
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1,a
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2,a
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,as3,a
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",as4,a
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,as5,a

#### Valores unicos en el campo "rating"

In [18]:
# Al quere conocer los valores unicos de la columna "rating" aparecen datos que deberian aparecer en la columna "duration"
#Esto solo pasa en los datos de las plataformas hulu y neflix ya que son las que contienen datos nulos en la columna "duration"
hulu_data["rating"].unique()

array(['TV-MA', nan, 'PG-13', 'R', 'TV-14', 'PG', 'TV-PG', 'NOT RATED',
       'G', 'TV-G', '2 Seasons', 'TV-Y', '93 min', '4 Seasons', 'TV-Y7',
       '136 min', '91 min', '85 min', '98 min', '89 min', '94 min',
       '86 min', '3 Seasons', '121 min', '88 min', '101 min', '1 Season',
       '83 min', '100 min', '95 min', '92 min', '96 min', '109 min',
       '99 min', '75 min', '87 min', '67 min', '104 min', '107 min',
       '84 min', '103 min', '105 min', '119 min', '114 min', '82 min',
       '90 min', '130 min', '110 min', '80 min', '6 Seasons', '97 min',
       '111 min', '81 min', '49 min', '45 min', '41 min', '73 min',
       '40 min', '36 min', '39 min', '34 min', '47 min', '65 min',
       '37 min', '78 min', '102 min', '129 min', '115 min', '112 min',
       'NR', '61 min', '106 min', '76 min', '77 min', '79 min', '157 min',
       '28 min', '64 min', '7 min', '5 min', '6 min', '127 min',
       '142 min', '108 min', '57 min', '118 min', '116 min', '12 Seasons',
       '71 min'], dtype=object)

In [19]:
netflix_data["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR'], dtype=object)

Elabore un codigo para mover los datos que no pertenecen al campo "rating" a donde pertenencen que en este caso es "duration"

In [20]:
hulu_data["rating"].fillna("sin dato", inplace=True)  # Remplazo los valores nulos por sin dato para que no me de problemas

contador = 0 
for linea in hulu_data["rating"]:  
    #itero por cada linea del campo
    #Si encuentro las palabras min, Seasons o Season cambio el contenido a su lugar, es decir, del campo rating 
    #al campo duration
    
    if "min" in str(linea) or "Seasons" in str(linea) or "Season" in str(linea):
        hulu_data.iloc[contador,9] = hulu_data["rating"][contador]
        hulu_data.iloc[contador,8] = "G"   # Y aprovecho para poner una G que es otra transformacion que debo hacer a los NaN de
                                           #la columna
    contador +=1
    
print(contador) # Esta fue la cantidad de valores que movi

3073

In [21]:
hulu_data["rating"].unique() #Comprobamos

array(['TV-MA', 'sin dato', 'PG-13', 'R', 'TV-14', 'PG', 'TV-PG',
       'NOT RATED', 'G', 'TV-G', 'TV-Y', 'TV-Y7', 'NR'], dtype=object)

In [22]:
netflix_data["rating"].fillna("sin dato", inplace=True)  # Remplazo los valores nulos por sindato para que no me de problemas

contador = 0 
for linea in netflix_data["rating"]:
    #itero por cada linea del campo
    #Si encuentro las palabras min, Seasons o Season cambio el contenido a su lugar, es decir, del campo rating 
    #al campo duration
    if "min" in str(linea) or "Seasons" in str(linea) or "Seasons" in str(linea):
        netflix_data.iloc[contador,9] = netflix_data["rating"][contador]
        netflix_data.iloc[contador,8] = "G"  # Y aprovecho para poner una G que es otra transformacion que debo hacr a los NaN de
                                           #la columna
    contador +=1
    
print(contador)

8807

In [23]:
netflix_data["rating"].unique()  #Comprobamos

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', 'NR', 'sin dato', 'TV-Y7-FV', 'UR'],
      dtype=object)

### Unimos los DataFrame para simplificar las transformaciones

In [24]:
# Creamos un nuevo DataFrame llamado all_data que contendra toda la info
all_data = pd.concat([amazon_data, disney_data, hulu_data, netflix_data], axis = 0, join = "outer", ignore_index=True)

### Rempazamos los valores nulos en rating por una "G" que representara “general for all audiences”

In [25]:
all_data['rating'].fillna("G", inplace=True)
all_data['rating'].replace("sin dato", "G", inplace=True)

### No veo una utilidad en la descripcion de la pelicula para este proyecto asi que eliminare el campo

In [26]:
all_data.drop("description", axis=1, inplace=True)
# Me parece que con el campo listen_in es mas que suficiente

### Damos el formato de fecha siguiente "AAAA-MM-DD' al campo "date_added"

In [27]:
all_data["date_added"] = pd.to_datetime(all_data["date_added"], infer_datetime_format=True, errors = "coerce")

In [28]:
#Comprobamos los valores unicos para el campo "rating"
all_data["rating"].unique()

array(['G', '13+', 'ALL', '18+', 'R', 'TV-Y', 'TV-Y7', 'NR', '16+',
       'TV-PG', '7+', 'TV-14', 'TV-NR', 'TV-G', 'PG-13', 'TV-MA', 'PG',
       'NC-17', 'UNRATED', '16', 'AGES_16_', 'AGES_18_', 'ALL_AGES',
       'NOT_RATE', 'TV-Y7-FV', 'NOT RATED', 'UR'], dtype=object)

### Pasamos el texto de los campos donde hay texto todo a minusculas

In [29]:
# Primero relleno los valores nulos de las campos de texto con un "sin dato"
# Para que no me de problema a la hora de convertirlo a minusculas
all_data["director"].fillna("sin Dato", inplace=True)
all_data["cast"].fillna("sin Dato", inplace=True)
all_data["country"].fillna("sin Dato", inplace=True)

In [30]:
# Ahora que nungun campo esta vacion puedo hacer la transformacion a minusculas
all_data["type"] = all_data["type"].apply(lambda x: x.lower())
all_data["title"] = all_data["title"].apply(lambda x: x.lower())
all_data["director"] = all_data["director"].apply(lambda x: x.lower())
all_data["cast"] = all_data["cast"].apply(lambda x: x.lower())
all_data["country"] = all_data["country"].apply(lambda x: x.lower())
all_data["listed_in"] = all_data["listed_in"].apply(lambda x: x.lower())
all_data["rating"] = all_data["rating"].apply(lambda x: x.lower())

In [31]:
all_data.drop_duplicates(inplace=True)

In [32]:
# Vistazo de como voy con los dato
all_data.sample(3, random_state=10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,id,plataforma
10916,s1249,movie,the aristocats,wolfgang reitherman,"phil harris, eva gabor, sterling holloway, sca...",united states,2019-11-12,1970,g,81 min,"action-adventure, animation, comedy",ds1249,d
3727,s3728,movie,the pride of the yankees,sam wood,"gary cooper, teresa wright, babe ruth",sin dato,NaT,1943,13+,129 min,"drama, romance",as3728,a
10583,s916,movie,go figure,francine mcdougall,"jordan hinson, whitney sloan, cristine rose",united states,2019-11-12,2005,tv-g,89 min,"coming of age, sports",ds916,d

In [33]:
all_data["date_added"].min()

Timestamp('2006-07-14 00:00:00')

### Separar el campo "duration" en dos
- duration_int: Sera de tipo integer indicando la magnitud 
- duration_type: Sera un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [34]:
all_data[["duration_int", "duration_type"]] = all_data.duration.str.split(pat=' ',expand=True )

In [35]:
# Convertimos los valores nulos de duration_int en 0 para que no nos de problema a la hora de cambiar el tipo de dato
all_data["duration_int"].fillna("0", inplace=True)
# Cambiamos el tipo de dato
all_data["duration_int"] = all_data["duration_int"].astype("int")

In [36]:
#Hacemos algo similar con el campo duration_type 
all_data["duration_type"].fillna("sin Dato", inplace=True)
all_data["duration_type"] = all_data["duration_type"].apply(lambda x: x.lower())

In [37]:
all_data.sample(5, random_state=20)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,id,plataforma,duration_int,duration_type
22735,s8545,tv show,the underwear,sin dato,"thanabordee jaiyen, emika grant emma, tantimed...",sin dato,2018-06-19,2017,tv-ma,1 Season,"international tv shows, tv dramas, teen tv shows",ns8545,n,1,season
14872,s682,tv show,they've gotta have us,simon frederick,"debbie allen, harry belafonte, john boyega, di...",united kingdom,2021-06-19,2018,tv-ma,1 Season,"british tv shows, docuseries",ns682,n,1,season
20833,s6643,movie,dragonheart 3: the sorcerer,colin teague,"julian morris, tamzin merchant, ben kingsley, ...",united states,2020-01-01,2015,pg-13,97 min,"action & adventure, sci-fi & fantasy",ns6643,n,97,min
8217,s8218,movie,attack of the 50 foot cheerleader,kevin o'neill,"sean young, ryan merriman, treat williams, joh...",sin dato,NaT,2012,r,83 min,comedy,as8218,a,83,min
16040,s1850,movie,kartini: princess of java,hanung bramantyo,"dian sastrowardoyo, ayushita, acha septriasa, ...","indonesia, netherlands",2020-10-15,2017,tv-pg,118 min,"dramas, international movies",ns1850,n,118,min

In [38]:
# Eliminamos el campo duration y el campo show_id
all_data["duration_type"].replace("seasons", "season", inplace=True)  # remplazamos los datos donde la palabra es seasons por season
all_data.drop("duration", axis=1, inplace=True)
all_data.drop("show_id", axis=1, inplace=True)

In [39]:
all_data.tail()

,type,title,director,cast,country,date_added,release_year,rating,listed_in,id,plataforma,duration_int,duration_type
22993,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,"cult movies, dramas, thrillers",ns8803,n,158,min
22994,tv show,zombie dumb,sin dato,sin dato,sin dato,2019-07-01,2018,tv-y7,"kids' tv, korean tv shows, tv comedies",ns8804,n,2,season
22995,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,"comedies, horror movies",ns8805,n,88,min
22996,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,"children & family movies, comedies",ns8806,n,88,min
22997,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",ns8807,n,111,min

### Convertimos la transfromacion en un archivo csv

In [40]:
all_data.to_csv("Data_util/Plataformas.csv", index=False)